name: Test

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --all-extras

      - name: Run linting tests with ruff
        run: uv run ruff check src test

      - name: Run tests with mypy
        run: uv run mypy src --ignore-missing-imports --follow-imports=skip --strict

      - name: Run tests with pytest
        run: pytest --numprocesses auto -vv -rA
